.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 1000px;
  overflow-y: auto;
  max-height: 90vh;
  color: black;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: black;
}

.input {
  flex: 1;
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}

.fieldset {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.button {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.dateInput {
  flex: 1;
  color: black;
  background-color: white;
  padding: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom: 1px solid black;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: black;
}

.checkbox {
  margin-bottom: 5px;
  margin-left: 10px;
  color: black;
}

.radioContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: black;
}

.radioGroup {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: black;
}

.radioInput {
  margin-left: 5px;
}
